<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.theme.rr.bg"
	android:versionCode="1"
	android:versionName="1.0">
    <overlay
		android:priority="1"
		android:targetPackage="android"
		android:category="android.theme.customization.rr_tools_bg"/>
	<application
		android:label="Light Background"
		android:hasCode="false"/>
</manifest>
